<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skift password</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<h1>Skift password</h1>
<form method="post" th:action="@{/change_password}">
    <label for="pw">Nuværende password:</label>
    <input id="pw" type="password" name="password" required/>
    <div class="error" th:if="${incorrectPassword}">Forkert password.</div>

    <label for="newPw">Nyt password:</label>
    <input id="newPw" type="password" name="newPassword" required/>
    <div class="error" th:if="${passwordTooShort}">"Password skal være mindst 6 tegn"</div>

    <label for="confirmPw">Gentag password:</label>
    <input id="confirmPw" type="password" name="confirmNewPassword" required/>
    <div class="error" th:if="${passwordMismatch}">Passwords matcher ikke.</div>

    <button type="submit">Gem</button>
</form>
<div class="error" th:if="${updateFailure}">Noget gik galt. Prøv igen.</div>
</body>
</html>