<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header :: header}">...</div>

<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div th:if="${wrongCredentials}" class="error">Forkert brugernavn/e-mail eller password</div>

    <label for="uid">Brugernavn eller e-mail:</label>
    <input id="uid" type="text" name="uid" autofocus required/>

    <label for="pw">Password:</label>
    <input id="pw" type="password" name="pw" required>

    <button type="submit">Log på</button>
</form>

<a th:href="@{/register_user}">Registrer ny bruger</a>

</body>
</html>