<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugeradministration</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<main>
    <div class="content_wrapper">
        <h1>Din bruger</h1>
        <form method="post" th:action="@{/update_user}" th:object="${user}">
            <label for="username">Brugernavn:</label>
            <input id="username" type="text" th:field="*{username}" required/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <div class="error" th:if="${usernameTaken}">Brugernavn er allerede i brug.</div>

            <label for="email">E-mail:</label>
            <input id="email" type="email" th:field="*{email}" required/>
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <div class="error" th:if="${emailTaken}">E-mail er allerede i brug.</div>

            <button type="submit">Gem</button>
        </form>
        <div th:if="${updateSuccess}">✅ Konto opdateret!</div>
        <div class="error" th:if="${updateFailure}">Noget gik galt. Prøv igen.</div>

        <h1>Sikkerhed</h1>
        <a class="button-link" th:href="@{/change_password}">Skift password</a>

        <h1>Administration</h1>
        <form th:action="@{/delete}" method="post">
            <button type="submit" onclick="return confirm('Er du sikker på at du vil slette din bruger?')">
                Slet min bruger
            </button>
        </form>
        <div class="error" th:if="${deleteFailure}">Noget gik galt. Prøv igen.</div>

    </div>
</main>
</body>
</html>