<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish list</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>
<main>
    <div class="content_wrapper" th:if="${!username.equals(wishList.username) && wishList.notPublic}">
        <h1 class="error">Fejl</h1>
        <p class="error">Du har ikke adgang til denne ønskeseddel</p>
    </div>
    <div class="content_wrapper" th:unless="${!username.equals(wishList.username) && wishList.notPublic}">
        <h1><span th:text="${wishList.title}"></span></h1>
        <p><span th:text="${wishList.description}"></span></p>
        <table>
            <thead>
                <tr>
                    <th>Ønske</th>
                    <th>Antal</th>
                    <th>Favorit</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="wishListItem: ${wishListItems}">
                <td th:text="${wishListItem.title}"></td>
                <td th:text="${wishListItem.quantity}"></td>
                <td th:if="${wishListItem.favourite}">⭐</td>
                <td th:unless="${wishListItem.favourite}"></td>
            </tr>
            </tbody>
        </table>
        <div class="error" th:if="${queryFailure}">Noget gik galt. Prøv igen.</div>
    </div>
</main>
</body>
</html>